{{ define "main" }}
    <main aria-role="main">
      <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
      <div>
        <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. -->
        <h3>recent posts</h3>
        {{ range first 5 (where .Pages "Section" "post")}}
        <li style="list-style-type:none;margin: 1.0em 0;">
           <b><a href="{{ .Permalink }}">{{ .Title }}</a></b> - <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
            </br>
           <div style="margin-left: 20px; margin-top: 10px">{{ .Description | markdownify }}</div>
        </li>
        {{ end }}
      </div>
    </main>
{{ end }}